html,body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  width: 100%;
  min-width: 410px;
  background-color: #F5F5F5;
}
/* 整个内容框 */
#container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
/* 头部标题字 */
.topFont{
  display: flex;
  justify-content: center;
  width: 100%;
}
.todos{
  color: #EAD7D7;
  font-size: 103px;
  margin-top: -8px;
}
#inputFrame{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  
}
input::placeholder{
  color: #E6E6E6;
  font-style: italic;
}
#root{
  display: flex;
  justify-content: center;
  width: 100%;
  
}

#root .alls{
  display: flex;
  background: #FEFEFE;
  width: 694px;
  height: 66px; 
}
#root .alls .labels{
  margin-top: 10px;
  
}
#root .alls .allsFont{
  margin-left: 20px;
  font-size: 30px;
  color: #E6E6E6;
}

#root .alls .inputs{
  display: flex;
  background: #FEFEFE;
  width: 100%;
  height: 64px;
  margin-left: 20px;
  font-size: 24px;
  border: 0;
  outline: 0;
}
/* 添加框的内容设置 */
#adds{
  display: flex;
  justify-content: center;
  width: 100%;
  
}

#adds .divWidth{
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center; */
  width: 694px;
  list-style: none;
  padding: 0;
  margin: 0;
}

#adds .divWidth .addsContent{
  background: #ffffff;
  width: 100%;
  height: 40px;
  padding-top: 15px;
  font-size: 24px;
  margin-top: 2px;
  box-shadow: -2px 0 1px  #F5F5F5,
              0px -2px 1px #F5F5F5,
              2px 0 1px #F5F5F5,
              0px 2px 1px #B6B6B6
              ;
}
#adds .addsContent .checkboxs{
  display: none;
}

#adds .addsContent .changeCheck{
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  display: block;
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border-style:solid;
  border-color:#F5F5F5;
  background: #ffffff;
} 

 #adds .addsContent .checkIcon{
  text-align: center;
  /* margin-left: 5px; */
  font-size: 20px;
  color: green;
  display: none;
}

#adds .addsContent .closes{
  margin-right: 30px;
  font-size: 20px;
  font-weight: bold;
  color: #EAD7D7;
  cursor: pointer;
  float: right;
}
#adds .addsContent .closes:hover{
  color: #AF5B5E;
}
/* 控制框内容设置 */
#controls{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
#controls .addsControl{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  background: #FEFEFE;
  color: #777777;
  width: 674px;
  height: 30px;
  padding-top: 10px;
  padding-left: 20px;
  font-size: 14px;
  margin-top: 2px;
  box-shadow: -2px 0 1px  #F5F5F5,
              0px -2px 1px #F5F5F5,
              2px 0 1px #F5F5F5,
              0px 10px 10px #B6B6B6
              ;
}
#controls .buttons{
  margin-right: 10px;
}
#controls button{
  font-size: 14px;
  border-style: none;
  background: #ffffff;
  cursor: pointer;
  outline-color: #EFD5D5;
  color: #777777;
}
/* 底部信息显示 */
.foot{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 60px;
}
.footFont{
  color: #BFBFBF;
  font-size: 11px;
  text-align: center;
  margin-bottom: 5px;
}
.sideBackground{
  position: fixed;
  background-color: #B6B6B6;
  width: 100%;
  height: 100%;
}
.sideBackground span{
  position: fixed;
  font-size: 30px;
  left: 25%;
  top:30%;
}